.modal-content-p{
    text-align: center;
}
.modal-content-p:before{
    content: '';
    display: inline-block;
    width:18px;
    height:18px;
    background: url('../../imgs/toast_fail.png');
    vertical-align: middle;
    margin-right:5px;
    margin-top:-1px;
}
.modal-footer{
    width:100%;
    position: absolute;
    bottom:0;
    left: 0;
}
.modal-btn {
    width:50%;
    height:38px;
    border:none;
}
.left{
    background: #aaaaaa;
}
.right{
    background: #738EE6; 
}