<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
	<div class="home-wrapper">
		<div class="report-content">
			<span class="text">作业数据——单次作业报告</span>
			<span class="text-english">HomeWorkData--Single Homework Report</span>
		</div>
		<div class="report-items">				
			<div class="rank-item0">
				<canvas id='one' class="loader" width="200" height="200"></canvas>
				<div class="item-design">
					<span>69%</span>
					<ul>
						<li><div></div>班级排行比赛</li>
					</ul>
				</div>
			</div>
			<div class="rank-item1">
				<canvas id='two' class="loader" width="200" height="200"></canvas>
				<div class="item-design">
					<span>72%</span>
					<ul>
						<li><div></div>该次作业正确率</li>
					</ul>
				</div>
			</div>
			<div class="rank-item2">
				<canvas id='three' class="loader" width="200" height="200"></canvas>
				<div class="item-design">
					<span>18%</span>
					<ul>
						<li><div></div>该次作业未作答率</li>
					</ul>
				</div>
			</div>
			<div class="rank-item3">
				<canvas id='four' class="loader" width="200" height="200"></canvas>
				<div class="item-design">
					<span>30%</span>
					<ul>
						<li><div></div>该次作业时间</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="knowledge-wrapper">
			<span class="text">未掌握知识点</span>
			<div class="info-content">
				<div class="title">
					<span>知识点名称</span>
					<span>错题序号</span>
					<span>个人掌握程度</span>
					<span>班级掌握程度</span>
				</div>
				<div class="content">
					<span>解一元二次方程应用题</span>
					<span>
						<span class="no">3</span>
						<span class="no">5</span>
					</span>
					<span class="bar-wrapper">
						<div class="progress-bar1">
					        <div class="progress" style="width: 39%"></div>
					    </div>
					    <span>39%</span>
					</span>
					<span class="bar-wrapper">
						<div class="progress-bar2">
					        <div class="progress" style="width: 30%"></div>
					    </div>
					    <span>30%</span>
					</span>
				</div>
				<div class="content">
					<span>实数的倒数、相反数和绝对值</span>
					<span>
						<span class="no">3</span>
						<span class="no">15</span>
					</span>
					<span class="bar-wrapper">
						<div class="progress-bar1">
					        <div class="progress" style="width: 70%"></div>
					    </div>
					    <span>70%</span>
					</span>
					<span class="bar-wrapper">
						<div class="progress-bar2">
					        <div class="progress" style="width: 75%"></div>
					    </div>
					    <span>75%</span>
					</span>
				</div>
			</div>
		</div>
		<div class="data-content">
			<span class="text">阶段性学情数据</span>
			<span class="text-english">Phased Student Test Data</span>
		</div>
		<div class="rank-wrapper">
			<span class="rank">排名分析</span>
			<span class="score">成绩分析</span>
			<div id="rank-main" style="width: 100%;height:400px;"></div>
		</div>
		<div class="score-wrapper">
			<span class="rank">排名分析</span>
			<span class="score">成绩分析</span>
			<div id="score-main" style="width: 100%;height:400px;"></div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="../js/echarts.min.js"></script>
<script type="text/javascript" src="../js/home.js"></script>
